/* all critical website content should be added to the website using a markup 
langauge such as html.
presentation of the website content should be defined by a styling language such
as css.

a stylesheet is a set of CSS rules used to control the layout and design of a
webpage or document.

inline styles are specified by using the style attribute of an html element.

internal stylesheets are placed inside a <style> element inside the <head> of a 
web document.

external stylesheets are placed inside a separate .css file, which is applied to
a document by referencing the file inside a <link> element in the document's 
<head> element. external stylesheets are generally preferred because they allow 
you to control the styling of multiple pages from a single place, rather than 
having to repeat the css across each page.

https://developer.mozilla.org/en-US/docs/Glossary/stylesheet
*/

/* css syntax
CSS syntax includes selectors, properties, values, declarations, declaration blocks, rulesets, at-rules, and statements.

A selector is a code snippet used to identify the web page element or elements that are to be affected by the styles.
A property is the aspect of the element that is to be affected. For example, color, padding, margin, and background are some of the most commonly used CSS properties.
A value is used to define a property. For example, the property color might be given the value of red like this: color: red;.
The combination of a property and a value is called a declaration.
In many cases, multiple declarations are applied to a single selector. A declaration block is the term used to refer to all of the declarations applied to a single selector.
A single selector and the declaration block that follows it in combination are referred to as a ruleset.
At-rules are similar to rulesets but begin with the @ sign rather than with a selector. The most common at-rule is the @media rule which is often used to create a block of CSS rules that are applied based on the size of the device viewing the web page.
Both rulesets and at-rules are CSS statements.

https://html.com/css/#ixzz7nPPWBGYn
*/

/* css selector patterns reference
https://www.w3schools.com/cssref/css_selectors.php

css specificity
if there are 2 or more css rules that point to the same element, the selector
with th ehighest specificity value will "win", and its style declaration will be
applied to that html element.
specificty hierarchy:
1. css !important rule (https://www.w3schools.com/css//css_important.asp)
2. inline styles (i.e. <h1 style="color: pink;">)
3. ids (i.e. #navbar)
4. classes, pseudo-classes, attribute selectors (i.e. .test, :hover, [href])
5. elements and pseudo-elements (i.e. h1, :before)
https://www.w3schools.com/css/css_specificity.asp
*/

/* 
css units of length
https://developer.mozilla.org/en-US/docs/Web/CSS/length
*/

/* :root selector
selects the document's root element. in html, the root element is always the 
html element.
https://www.w3schools.com/cssref/sel_root.php
*/
:root {
    background-color: #000 !important;
}

/*
the body element and all children elements of the the body element will have 
the following style applied.
*/
body {
    /* 
    the body has a nonzero value by default
    https://stackoverflow.com/questions/34550467/why-is-there-a-default-margin-on-the-body-element
    */
    margin: 0px;
    background-color: #000;
    font-family: courier, monospace;
    color: #fff; /* font color */
    /* 
    font size
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
    */
    font-size: 0.8em;
    /*
    sets the body element's height to 100% of the viewport's height.
    https://www.freecodecamp.org/news/html-page-width-height/
    */
    min-height: 100vh;
}

/* ========================================================================== */
/* -------------------------------- SCROLLBAR ------------------------------- */
/* ========================================================================== */
/*
scrollbar style for chrome, edge, and safari

you must 1st use the vendor preix pseudo-element -webkit-scrollbar for the other
2 vendor prefix pseudo-elements to work.

firefox will ignore this selector since it does not recognize -webkit-scrollbar

https://www.digitalocean.com/community/tutorials/css-scrollbars
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
*/
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /* a line style of transparent will cause there to be no border around the 
    thumb, unlike the solid line style */
    border: 3px solid black; /* creates padding around scroll thumb */
}
/*
scrollbar style for firefox

chrome, edge, and safari will ignore these statements since they do not support
these properties

https://www.digitalocean.com/community/tutorials/css-scrollbars
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
*/
body {
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 66, 66) black;
}

header{
    /* 
    position
    https://developer.mozilla.org/en-US/docs/Web/CSS/position
    */
    position: fixed;
    width:150px;
    /*
    this centers the logo with in its parent element (the header element).
    https://stackoverflow.com/questions/18428997/center-image-element-in-parent-div
    */
    text-align: center;
}

#logo {
    /*
    how to position an image in css
    https://www.geeksforgeeks.org/how-to-set-position-of-an-image-in-css/

    how to scale an image in css
    https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit
    */
    height: 75px;
    width: 75px;
}

#vertical-flexbox {
    /* 
    css flexbox
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox
    */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* 
    overflow-x
    https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x
    */
    overflow-x: hidden;
}

/* prepend # to the selector to denote that the following string is an
identifier. */
#console {
    /* width:750px; */
    width: 80%;
    /* margin-left:auto;
    margin-right:auto; */
    /* by using percentages instead of auto, the ratio between the width and 
    margins is maintained even when the screen is resized. */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 25px;
}

input {
    background-color: #000;
    font-family: courier, monospace;
    color: #fff; /* font color */
    font-size: 0.8em;
    border-style: none;

    /* writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial; */
}

/* all anchor elements will have the following style applied. */
a {color: #0bc; text-decoration: none;}

/* the element with its id set to a will have the following style applied. */
#a {color: #0f0;}

#c {color: #0bc;}

#b {color: #ff0096;}

#k {animation: change 1s;}

#op {color: #888888}

/* at-rules
at-rules are css statements that instruct css how to behave.
https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule
 */

 /* @keyframes
 
the @keyframes css at-rule controls the intermediate steps in a css animation 
sequence by defining styles for keyframes (or waypoints) along the animation 
sequence. this gives more control over the intermediate steps of the animation 
sequence than transitions.

https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
 */
/* @keyframes change {
    0% {color: #0f0;}
    50% {color: #0f0;}
    99% {color: black;}
} */

#lives {
    color: red;
    text-align: center;
    position: fixed;
    width: 6em;
    height: 1em;
    top: 0vh;
    right: 10vw;
    background-color: rgb(15, 15, 15);
    padding: 1em;
    margin: 0em;
}

#help {
    /*
    different vales for position
    https://stackoverflow.com/questions/62242802/how-do-i-create-an-html-element-that-remains-on-the-page-and-is-unaffected-by-sc
    */
    position: fixed;
    width: 30vw;
    height: 30vh;
    bottom: 0vh;
    right: 10vw;
    background-color: rgb(15, 15, 15);
    /*
    padding is the space between the element's conetent and its border
    https://developer.mozilla.org/en-US/docs/Web/CSS/padding
    */
    padding: 1em;
    margin: 0em;
}